<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head", {title: title || "CSE Motors"}) %>
</head>
<body>
    <%- include("../partials/header") %>
    <%- typeof nav !== 'undefined' ? nav : include("../partials/nav") %>
    
    <main>
        <%- body %>
    </main>
    
    <%- include("../partials/footer") %>
</body>
</html>
